
@{
    ViewBag.Title = "BaiLamTuLuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="margin-top:20px">
        <h5 class="card-header text-center">Danh sách học viên hoàn thành</h5>
        <div class="card-body">
            <table class="table align-items-center table-flush table-hover" id="tablebaituluan">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Mssv</th>
                        <th>Lớp</th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (ToMoToDBEntities db = new ToMoToDBEntities())
                    {
                        int idlop = ViewBag.IdLopHoc;
                        int idtuluan = ViewBag.IdTuLuan;
                        var nd = (NguoiDung)Session["user"];
                        int i = 1;
                        var listLop = db.SVLops.Where(x => x.IdLopHoc == idlop).ToList();
                        foreach (var item in listLop)
                        {
                            var ten = db.SinhViens.Where(x => x.IdSinhVien == item.IdSinhVien).FirstOrDefault();
                            <tr>
                                <td>@(i++)</td>
                                <td>@ten.NguoiDung.HoTen</td>
                                <td>@item.SinhVien.Mssv</td>
                                <td>@item.SinhVien.MaLopSv</td>
                                <td>Điểm</td>
                                <td>
                                    <button class="btn btn-primary float-right" onclick="BaiLam(@item.IdSinhVien,@idtuluan,@idlop)"><i class="fas fa-eye"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#tablebaituluan').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                extend: 'excelHtml5',
                autoFilter: true,
                sheetName: 'Exported data',
                text: 'Xuất file excel',
                className:'btn btn-info ',  
                },
                {
                    extend: 'copy',
                    text: 'Copy vào bộ nhớ',
                    className: 'btn btn-primary ',
                },
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Vietnamese.json"
            }
        });
    });


    function BaiLam(idsinhvien, idtuluan, idlophoc) {

    }
</script>
