
@{
    ViewBag.Title = "BaiLamTuLuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="margin-top:20px">
        <h5 class="card-header text-center">Danh sách học viên hoàn thành</h5>
        <div class="card-body">
            <table class="table align-items-center table-flush table-hover" id="tablebaituluan">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Mssv</th>
                        <th>Lớp</th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (ToMoToDBEntities db = new ToMoToDBEntities())
                    {
                        int idlop = ViewBag.IdLopHoc;
                        int idtuluan = ViewBag.IdTuLuan;

                        var tuluan = db.TuLuans.Where(x => x.IdTuLuan == idtuluan).FirstOrDefault();
                        var dsCauHoi = tuluan.TuLuan_CauHoi.ToList();
                        List<SinhVien> lstSinhVien = new List<SinhVien>();
                        foreach (var cauhoi in dsCauHoi)
                        {
                            foreach (var dapancuaSinhVien in cauhoi.SinhVien_TL_DapAn.ToList())
                            {
                                var sinhVien = dapancuaSinhVien.SinhVien;
                                if (!sinhVien.SVLops.Any(x => x.IdLopHoc == idlop))
                                {
                                    continue;
                                }
                                if (lstSinhVien.Any(x => x.IdSinhVien == sinhVien.IdSinhVien))
                                {
                                    continue;
                                }
                                lstSinhVien.Add(sinhVien);
                            }
                        }

                        int i = 1;
                        foreach (var item in lstSinhVien)
                        {
                            int idSv = item.IdSinhVien;
                            var diemSo = db.SinhVien_TL_DapAn.Where(x => x.IdSinhVien == idSv && x.TuLuan_CauHoi.TuLuans.Any(y => y.IdTuLuan == idtuluan)).Select(z => z.DiemTuLuan).Sum().GetValueOrDefault(0);

                            var ten = db.SinhViens.Where(x => x.IdSinhVien == item.IdSinhVien).FirstOrDefault();
                            <tr>
                                <td>@(i++)</td>
                                <td>@ten.NguoiDung.HoTen</td>
                                <td>@item.Mssv</td>
                                <td>@item.MaLopSv</td>
                                <td>@diemSo</td>
                                <td>
                                    <button class="btn btn-primary float-right" onclick="BaiLam(@item.IdSinhVien,@idtuluan,@idlop)"><i class="fas fa-eye"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalBaiLamTL" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bài làm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DSDapAnTL">
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#tablebaituluan').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    autoFilter: true,
                    sheetName: 'Exported data',
                    text: 'Xuất file excel',
                    className: 'btn btn-info ',
                },
                {
                    extend: 'copy',
                    text: 'Copy vào bộ nhớ',
                    className: 'btn btn-primary ',
                },
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Vietnamese.json"
            }
        });
    });

    function DSDapAn(idsinhvien,idtuluan,idlop) {
        $.ajax({
            url: '/Home/DSDapAnTL',
            type: 'POST',
            data: {
                idtuluan,
                idsinhvien,
                idlop,
            },
        }).done(function (ketqua) {
            $("#DSDapAnTL").html(ketqua);
        });
    }

    function BaiLam(idsinhvien, idtuluan, idlop) {
        DSDapAn(idsinhvien, idtuluan, idlop);
        $("#modalBaiLamTL").modal('show');
    }


    
</script>
