
@{
    ViewBag.Title = "BaiLamTracNghiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="margin-top:20px">
        <h5 class="card-header text-center">Danh sách học viên hoàn thành</h5>
        <div class="card-body">
            <table class="table align-items-center table-flush table-hover" id="tablebaituluan">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Mssv</th>
                        <th>Lớp</th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @using (ToMoToDBEntities db = new ToMoToDBEntities())
                    {
                        int idlop = ViewBag.IdLopHoc;
                        int idtracnghiem = ViewBag.IdTracNghiem;
                        var nd = (NguoiDung)Session["user"];
                        int i = 1;
                        var listLop = db.SVLops.Where(x => x.IdLopHoc == idlop).ToList();
                        foreach (var item in listLop)
                        {
                            var ten = db.SinhViens.Where(x => x.IdSinhVien == item.IdSinhVien).FirstOrDefault();
                            <tr>
                                <td>@(i++)</td>
                                <td>@ten.NguoiDung.HoTen</td>
                                <th>@item.SinhVien.Mssv</th>
                                <th>@item.SinhVien.MaLopSv</th>
                                <th>Điểm</th>
                                <td>
                                    <a class="btn btn-primary float-right" href="@Url.Action("ChiTietLopHoc/"+item.IdLopHoc,"Home")"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
