@model ToMoToStudy.LopHoc
@{
    ViewBag.Title = "ChiTietLopHoc";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chi tiết lớp</h1>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="table-responsive p-3">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Chi tiết lớp</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Danh sách sinh viên</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        @* tab 1 *@
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:15px">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    <div class="form-group">
                                        Mã lớp
                                        <div>
                                            @Html.EditorFor(model => model.MaLop, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MaLop, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Tên lớp
                                        <div>
                                            @Html.EditorFor(model => model.TenLop, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Mô tả
                                        <div>
                                            <textarea class="form-control" rows="3" id="comment" value="@Model.MoTa">@Model.MoTa</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Tình trạng
                                        <div>

                                            <label><input type="checkbox" value="@Model.MoTa" id="TinhTrang"> Tình trạng hoạt động</label>

                                            <asp:CheckBox ID="TinhTrang" runat="server" value="Red" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        CT Học
                                        <select class="form-control" name="IdCTHoc">
                                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                            {
                                                var list = db.CT_HOC.ToList();
                                                foreach (var item in list)
                                                {
                                                    <option class="form-control" value="@item.IdCTHoc">@item.TenCT</option>
                                                }
                                            }
                                        </select>

                                        <script>
                                                document.addEventListener("DOMContentLoaded", function (event) {
                                                    $("[name=IdCTHoc]").val(@Model.IdCTHoc);
                                                });
                                        </script>
                                    </div>
                                    <div class="form-group">
                                        Người tạo
                                        <div>
                                            <select class="form-control" name="IdNguoiDung">
                                                @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                                {
                                                    var list = db.NguoiDungs.ToList();
                                                    foreach (var item in list)
                                                    {

                                                        <option class="form-control" value="@item.IdNguoiDung">@item.TaiKhoan - @item.HoTen</option>
                                                    }
                                                }
                                            </select>

                                            <script>
                                                document.addEventListener("DOMContentLoaded", function (event) {
                                                    $("[name=IdNguoiDung]").val(@Model.IdNguoiDung);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @* tab 2 *@
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:15px;margin:10px">
                            <div style="padding:10px">
                                <div class="card-header align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Thêm sinh viên vào lớp</h6>
                                </div>
                                <form style="padding: 15px">
                                    <div class="form-group">
                                        <select class="form-control selectpicker" data-live-search="true" id="idsinhvien">
                                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                            {
                                                var sv = db.SinhViens.ToList();
                                                foreach (var item in sv)
                                                {
                                                    <option value="@item.IdSinhVien">@item.Mssv - @item.NguoiDung.HoTen</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-12" style="margin-bottom:20px">
                                        <button type="button" class="btn btn-primary float-right" onclick="SaveInfo(@Model.IdLopHoc)"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm</button>
                                    </div>
                                </form>
                            </div>
                            <div style="padding: 15px">
                                <hr />
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
                                </div>
                                <div class="table-responsive p-3" style="padding: 15px">
                                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Sinh Viên</th>
                                                <th>Mssv</th>
                                                <th>Tài khoản</th>
                                                <th>Ngày tham gia</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                            {
                                                var lop = db.LopHocs.Where(x => x.IdLopHoc == Model.IdLopHoc).FirstOrDefault();
                                                foreach (var item in lop.SVLops)
                                                {
                                                    <tr>

                                                        <td>@item.SinhVien.NguoiDung.HoTen</td>
                                                        <td>@item.SinhVien.Mssv</td>
                                                        <td>@item.SinhVien.NguoiDung.TaiKhoan</td>
                                                        <td>@(item.NgayThamGia == null ? "" : item.NgayThamGia.Value.ToString("dd/MM/yyyy"))</td>
                                                        <td>
                                                            <div class="btn-group float-right" role="group">
                                                                <button type="button" class="btn btn-danger " onclick="XoaSVLop(@item.IdLopHoc,@item.IdSinhVien)"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>

<script>
    function XoaSVLop(IdLopHoc, IdSinhVien) {
        var dialog = bootbox.dialog({
            title: 'Thông báo xóa',
            message: "Bạn có muốn xóa không?",
            size: 'large',
            closeButton: false,
            buttons: {
                ok: {
                    label: "Có",
                    className: 'btn-info',
                    callback: function () {
                        $.ajax({
                            url: '/Ajax/XoaSVLop/',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                IdLopHoc, IdSinhVien
                            },
                        }).done(function (ketqua) {
                            if (ketqua.Success) {
                                alert("Xóa thành công");
                                location.reload();
                                return;
                            }
                            alert(ketqua.Message);
                        });
                    }
                },
                cancel: {
                    label: "Không",
                    className: 'btn-danger',
                }
            }
        });
    }
    function SaveInfo(IdLopHoc) {
        var _inputidsinhvien = $("#idsinhvien");
        var IdSinhVien = _inputidsinhvien.val();
        if (idsinhvien == '') {
            alert("Vui lòng điền đủ thông tin!");
            return;
        }
        $.ajax({
            url: '/Ajax/PostSVLop',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                IdLopHoc, IdSinhVien
            },
        }).done(function (ketqua) {
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua.Message);
        });
    }
</script>