@model ToMoToStudy.TracNghiem

@{
    ViewBag.Title = "ChiTietTracNghiem";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<style>
    .DinhDangNgay {
        position: relative;
    }

        .DinhDangNgay:before {
            content: attr(data-date);
        }

        .DinhDangNgay::-webkit-datetime-edit, .DinhDangNgay::-webkit-inner-spin-button, .DinhDangNgay::-webkit-clear-button {
            display: none;
        }

        .DinhDangNgay::-webkit-calendar-picker-indicator {
            position: absolute;
            right: 12px;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
</style>

<div class="container-fluid" id="container-wrapper">
    <div class="alert alert-success" role="alert" style="margin:10px 0">
        Nội dung này được tạo bởi <b>@Model.NguoiDung.TaiKhoan</b>
        <br>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="table-responsive p-3">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin bài trắc nghiệm</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Danh sách câu hỏi</a>
                            <a class="nav-item nav-link" id="nav-student-tab" data-toggle="tab" href="#nav-student" role="tab" aria-controls="nav-student" aria-selected="false">Sinh viên tham gia</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        @* tab 1 *@
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="padding:15px">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    <div class="form-group">
                                        Tên bài trắc nghiệm
                                        <div>
                                            @Html.EditorFor(model => model.TenTracNghiem, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            Thời gian làm (phút)
                                            <div>
                                                <input class="form-control" type="number" min="0" name="ThoiGian" value="@Model.ThoiGian" />
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            Hạn nộp bài
                                            <div>
                                                @*<input class="form-control" type="datetime-local" name="HanChot" value="@Model.HanChot.Value.ToString(@"yyyy-MM-dd\THH:mm:ss")" />*@
                                                <input type="datetime-local" class="DinhDangNgay form-control" data-date="" data-date-format="DD/MM/YYYY \l\ú\c HH:mm" name="HanChot" value="@(Model.HanChot == null ? "" : Model.HanChot.Value.ToString(@"yyyy-MM-dd\THH:mm:ss"))">

                                                <script>
                                                    document.addEventListener("DOMContentLoaded", function (event) {
                                                        $(".DinhDangNgay").on("change", function () {
                                                            this.setAttribute(
                                                                "data-date",
                                                                moment(this.value, "YYYY-MM-DDTHH:mm")
                                                                    .format(this.getAttribute("data-date-format"))
                                                            )
                                                        }).trigger("change")
                                                    });

                                                </script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Mô tả
                                        <div>
                                            <textarea class="form-control" name="mota">@Model.MoTa</textarea>
                                            <script>
                                                CKEDITOR.replace('mota');
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 ">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @* tab 2 *@
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:15px;margin:10px">
                            <div class="float-right">
                                <button type="button" class="btn btn-primary" onclick="ThemCauHoi()"><i style="margin-right:10px" class="fas fa-plus"></i>Thêm câu hỏi</button>
                            </div>
                            <br />
                            <div style="padding: 15px">
                                <hr />
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
                                </div>
                                <div class="table-responsive p-3" style="padding: 15px">
                                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Nội dung</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                            {
                                                int i = 1;
                                                var tracnghiemcauhoi = db.DS_TN_CauHoi.Where(x => x.IdTracNghiem == Model.IdTracNghiem).ToList();
                                                foreach (var item in tracnghiemcauhoi)
                                                {
                                                    string noidung = item.TracNghiem_CauHoi.NoiDungCauHoi ?? "";
                                                    noidung = System.Text.RegularExpressions.Regex.Replace(noidung, "<.*?>", String.Empty);
                                                    if (noidung.Length > 300)
                                                    {
                                                        noidung = noidung.Substring(0, 300) + "...";
                                                    }
                                                    <tr>
                                                        <td>@(i++)</td>
                                                        <td>@Html.Raw(noidung)</td>
                                                        <td>
                                                            <div class="btn-group float-right" role="group">
                                                                <button type="button" class="btn btn-primary" onclick="SuaTracNghiemCauHoi(@item.IdCauHoi)"><i class="fa fa-edit"></i></button>
                                                                <button type="button" class="btn btn-danger" onclick="XoaCauHoi(@item.IdCauHoi)"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @* tab 3 *@
                        <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab" style="padding:15px;margin:10px">
                            <div class="table-responsive p-3" style="padding: 15px">
                                <table class="table align-items-center table-flush table-hover" id="dataTable2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>Mssv</th>
                                            <th>Họ tên</th>
                                            <th>Lớp</th>
                                            <th>Ngày làm</th>
                                            <th>Điểm số</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @using (ToMoToDBEntities db = new ToMoToDBEntities())
                                        {
                                            int i = 1;
                                            var listStudent = db.SinhVien_TracNghiem.Where(x => x.IdTracNghiem == Model.IdTracNghiem).ToList();
                                            foreach (var item in listStudent)
                                            {
                                                <tr>
                                                    <td>@(i++)</td>
                                                    <td>@item.SinhVien.Mssv</td>
                                                    <td>@item.SinhVien.NguoiDung.HoTen</td>
                                                    <td>@item.SinhVien.MaLopSv</td>
                                                    <td>@item.NgayLam</td>
                                                    <td><span class=\"badge badge-success\" style=\"display: block\"></span></td>
                                                    <td>
                                                        <div class="btn-group float-right" role="group">
                                                            <button type="button" class="btn btn-primary" onclick="DapAnSinhVien(@item.IdSinhVien)"><i class="fa fa-edit"></i></button>
                                                            @*<button type="button" class="btn btn-danger" onclick="XoaSVLop(@item.IdSinhVien)"><i class="fa fa-trash"></i></button>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="tab-content" id="nav-tabContent">
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tung-tab" data-toggle="tab" href="#tungtab" role="tab" aria-controls="home" aria-selected="true">Thông tin câu hỏi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vinh-tab" data-toggle="tab" href="#vinhtab" role="tab" aria-controls="profile" aria-selected="false">Đáp án</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tungtab" role="tabpanel" aria-labelledby="tung-tab">
                            <div class="form-group">
                                <label class="col-form-label">Nội dung câu hỏi</label>
                                <textarea id="noidungcauhoi" name="noidungcauhoi"></textarea>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary" onclick="SaveInfo(@Model.IdTracNghiem)">Thêm</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="vinhtab" role="tabpanel" aria-labelledby="vinh-tab">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label">Đáp án</label>
                                    <input class="form-control" type="text" name="dapan">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" name="dapandung">
                                        <label class="form-check-label" for="gridCheck">
                                            Đáp án đúng
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary" onclick="SaveDapAn()">Thêm</button>
                                </div>
                            </form>
                            <br />
                            <div id="dsDapAn">


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDiem" tabindex="-1" role="dialog" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Chấm trắc nghiệm</h5>
            </div>
            <div class="modal-body" id="dsSinhVienDapAn">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#dataTable2").DataTable();
    CKEDITOR.replace('noidungcauhoi');
    var idnguoidung = @(((NguoiDung)Session["user"]).IdNguoiDung);
        function DapAnSinhVien(idSV) {
        $.ajax({
            url: '/Admin/GetSinhVienDapAnTN?IdSV=' + idSV + '&IdTN=@Model.IdTracNghiem',
            type: 'POST',
        }).done(function (ketqua) {
            $("#dsSinhVienDapAn").html(ketqua);
            $("#modalDiem").modal('show');
        });
    }

    function ThemCauHoi() {
        idcauhoi = 0;
        $("#addTitle").html("Thêm mới");
        $("[name='noidungcauhoi']").val("");
        CKEDITOR.instances['noidungcauhoi'].setData("");
        //=-----------
        $('#modalAdd').modal("show");
        $('#vinh-tab').hide();
    }
    function SaveInfo(id) {
        var idtracnghiem = id;
        var noidungcauhoi = CKEDITOR.instances['noidungcauhoi'].getData();
        if (noidungcauhoi == '') {
            alert("Vui lòng điền đủ thông tin!");
            return;
        }
        $.ajax({
            url: '/Ajax/PostTracNghiemCauHoi',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                idcauhoi,
                idtracnghiem,
                noidungcauhoi,
                idnguoidung,
            },
        }).done(function (ketqua) {
            $('#modalAdd').modal("hide");
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                bootbox.alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua.Message);
        });
    }

    function SuaTracNghiemCauHoi(id) {
        $('#vinh-tab').show();
        iddapan = 0;
        $("[name='dapan']").val("");
        $("[name='dapandung']").prop('checked', false);

        var noidungcauhoi = $("[name='noidungcauhoi']").val();
        idcauhoi = id;
        $.ajax({
            url: '/Ajax/GetTracNghiemCauHoi/' + idcauhoi,
            type: 'GET',
            dataType: 'text',
            data: {
                idcauhoi,
                noidungcauhoi,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("#addTitle").html("Chỉnh sửa");


            $("[name='noidungcauhoi']").val(json.noidungcauhoi);
            CKEDITOR.instances['noidungcauhoi'].setData(json.noidungcauhoi);
            LayDanhSachDapAn(idcauhoi);
            $('#modalAdd').modal("show");
            $('#nav-vinh').show();
        });
    }

    function LayDanhSachDapAn(id) {
        $.ajax({
            url: '/Ajax/GetDapAnTracNghiemCauHoi/' + id,
            type: 'POST',
        }).done(function (ketqua) {
            $("#listCauTraLoi").html(ketqua);
        });
    }

    function SaveDapAn() {
        var dapan = $("[name='dapan']").val();
        var dapandung = $("[name='dapandung']").is(":checked");
        if (dapan == '') {
            alert("Vui lòng điền đủ thông tin!");
            return;
        }
        $.ajax({
            url: '/Ajax/PostTracNghiemDapAn',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                iddapan,
                dapan,
                dapandung,
                idcauhoi,
            },
        }).done(function (ketqua) {
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                bootbox.alert("Lưu dữ liệu thành công");
                $("[name='dapan']").val("");
                $("[name='dapandung']").prop('checked', false);
                LayDanhSachDapAn(idcauhoi);
                return;
            }
            alert(ketqua.Message);
        });
    }
    function XoaCauHoi(idcauhoi) {
        $.ajax({
            url: '/Ajax/XoaTracNghiemCauHoi/' + idcauhoi,
            type: 'POST',
            dataType: 'json',
            data: {
                idcauhoi
            },
        }).done(function (ketqua) {
            if (ketqua.Success) {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua.Message);
        });
    }
 function XoaSinhVien(idnopbai) {
        $.ajax({
            url: '/Ajax/XoaTracNghiemCauHoi/' + idnopbai,
            type: 'POST',
            dataType: 'json',
            data: {
                idnopbai
            },
        }).done(function (ketqua) {
            if (ketqua.Success) {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua.Message);
        });
    }
    function LayDanhSachDapAn(id) {
        $.ajax({
            url: '/Admin/GetDapAnTracNghiemCauHoi/' + id,
            type: 'POST',
        }).done(function (ketqua) {
            $("#dsDapAn").html(ketqua);
        });
    }

</script>

