
@{
    ViewBag.Title = "Danh Sách Bài Học";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Bài học</li>
        </ol>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12" style="margin-bottom:20px">
            <button type="button" class="btn btn-primary" onclick="ModalThemBaiHoc()"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm</button>
        </div>
        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>Tên bài học</th>
                                <th>Nội dung</th>
                                <th>Cho phép nộp bài</th>
                                <th>Người tạo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                            {
                                var baihoc = db.BaiHocs.ToList();
                                foreach (var item in baihoc.ToList())
                                {
                                    string noidung = item.NoiDung ?? "";
                                    noidung = System.Text.RegularExpressions.Regex.Replace(noidung, "<.*?>", String.Empty);
                                    if (noidung.Length > 300)
                                    {
                                        noidung = noidung.Substring(0, 300) + "...";
                                    }
                                    <tr>
                                        <td>@item.TenBaiHoc</td>
                                        <td>@Html.Raw(noidung)</td>
                                        <td>@item.ChoPhepNopBai</td>
                                        <td>@item.NguoiDung.TaiKhoan</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-primary" href="/Admin/ChiTietBaiHoc/@item.IdBaiHoc" role="button"><i class="fa fa-edit"></i></a>
                                                <button type="button" class="btn btn-danger" onclick="XoaLopHoc(@item.IdBaiHoc,'@item.TenBaiHoc')"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>


<div id="ModalThemBaiHoc">
    @{
        Html.RenderPartial("_PartialThemBaiHoc");
    }
</div>



<script type="text/javascript">
    
    function ModalThemBaiHoc() {
        idbaihoc = 0;
        idCT = 0;
        $("#addTitle").html("Thêm mới");
        $("[name='tenbaihoc']").val("");
        $("[name='noidungbaihoc']").val("");
        $("[name='videobaihoc']").val("");
        $("[name='idnguoidungbaihoc']").val("");
        $('#modalAddBaiHoc').modal("show");
    }

</script>