<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ToMoToStudy</title>
    <link href="~/Style/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="icon" href="icon_path" type="~/HinhAnh/Logo/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!-- Page level plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <!-- datetime -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js"></script>
    <script src="~/Scripts/jquery.shorten.min.js"></script>
    <script src="~/Scripts/Sortable.js"></script>
    <script src="~/Style/bootbox.all.min.js"></script>
    @*datatable*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <link href="~/Style/jquery.dataTables.min.css" rel="stylesheet" />
    @* notify *@
    <script src="~/Scripts/notify.min.js"></script>
    @* bootstrap-select *@
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.min.js"></script>

    <script src="~/Scripts/jquery.plugin.js"></script>
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    @*  *@
    <script src="~/Scripts/jquery.countdownTimer.js"></script>
</head>
<body>
    <!-- Star Nav -->
    <div class="top-nav">
        <nav class="navbar navbar-expand-lg bg-color navbar-dark" style="padding:0px 20px">
            <div class="container">
                <nav class="navbar navbar-light" id="head-logo" style="padding:0px 16px">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding:0px">
                        <img src="~/HinhAnh/Logo/logo.png" height="60" class="d-inline-block align-top" alt="logo">
                    </a>
                </nav>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div style="align-items: center;" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link fixcolor" href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Danh mục
                            </a>
                            <div class="dropdown-menu bg-color-drop" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Home/DanhSachLopHoc">Danh sách lớp</a>
                                <a class="dropdown-item" href="/Home/ChuongTrinhHoc">Chương trình học</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Số 2</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Admin")">Admin</a>
                        </li>
                    </ul>

                    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                        <ul class="navbar-nav text-right">
                            @using (ToMoToDBEntities db = new ToMoToDBEntities())
                            {
                               // var user = ((NguoiDung)Session["user"]);

                                if (Session["user"] == null || Session["loai"].ToString() == "1")
                                {
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#" onclick="ModalLogin()" style="width:auto;"> <i class="fas fa-user"></i> Đăng nhập/ Đăng xuất</a>
                                    </li>
                                }
                                else
                                {
                                    var name = ((NguoiDung)Session["user"]).TaiKhoan;
                                    var idnguoidung = ((NguoiDung)Session["user"]).IdNguoiDung;
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Xin chào: @name
                                        </a>
                                        <div class="dropdown-menu bg-color-drop" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/Home/ThongTinTaiKhoan">Thông tài khoản</a>
                                            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" id="DangXuat">Đăng xuất</a>
                                        </div>
                                    </li>
                                }
                            }


                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Nav -->
    @RenderBody()



    <div id="ModalLogin">
        @{
            Html.RenderPartial("_PartialLogin");
        }
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                $('.bodymovin').each(function () {
                    var element = $(this);
                    var animation = bodymovin.loadAnimation({
                        container: element[0],
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: element.data('icon')
                    });
                });
            });

        });

        function ModalLogin() {
            $("[name='tk']").val("");
            $("[name='mk']").val("");

            $("[name='taikhoan']").val("");
            $("[name='matkhau']").val("");
            $("[name='email']").val("");
            $("[name='hoten']").val("");

            $('#modalLogin').modal("show");
        }

        $("#DangXuat").on('click', function () {
            $.ajax({
                url: '/Ajax/DangXuat',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "json",

            }).done(function (ketqua) {
                if (ketqua.Success) {
                    location.reload();
                    return;
                }
                alert(ketqua.Message);
            });
        });
    </script>
</body>
</html>
