@{
    Layout = null;
    int id = (int)ViewBag.Id;
}

<table class="table align-items-center table-flush table-hover" id="dataTableDapAn">
    <thead class="thead-light">
        <tr>
            <th>Đáp án</th>
            <th>Đáp án đúng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (ToMoToDBEntities db = new ToMoToDBEntities())
        {
            var tracnghiemdapan = db.TracNghiem_DapAn.Where(x => x.IdCauHoi == id).ToList();

            foreach (var item in tracnghiemdapan)
            {
                string noidung = item.DapAn ?? "";
                noidung = System.Text.RegularExpressions.Regex.Replace(noidung, "<.*?>", String.Empty);
                if (noidung.Length > 100)
                {
                    noidung = noidung.Substring(0, 100) + "...";
                }
                <tr>
                    <td>
                        <div id="show-tn-@item.IdDapAn">
                            @Html.Raw(noidung)
                        </div>
                        <div class="input-group" id="input-tn-@item.IdDapAn" style="display:none">
                            <input type="text" class="form-control input-cauhoi" placeholder="Nội dung câu hỏi" value="@item.DapAn">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="SaveDapAnCauHoi(@item.IdDapAn)">Lưu</button>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="tn-@item.IdDapAn" @(item.DapAnDung == true ? "checked" : "") onchange="SaveDapAnDung(@item.IdDapAn,@id)">
                            <label class="custom-control-label" for="tn-@item.IdDapAn"></label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn btn-primary" onclick="SuaTracNghiemDapAn(@item.IdDapAn)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" onclick="XoaTracNghiemDapAn(@item.IdDapAn)"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#dataTableDapAn").DataTable();
    });
    function SuaTracNghiemDapAn(id) {
        $("#show-tn-" + id).hide();
        $("#input-tn-" + id).show();
    }
    function SaveDapAnCauHoi(iddapan) {
        var _input = $("#input-tn-" + iddapan).find(".input-cauhoi");
        var dapan = _input.val();
        if (dapan.length < 1) {
            alert("Vui lòng nhập đáp án")
            return;
        }
        $.ajax({
            url: '/Ajax/PostTracNghiemDapAn',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                iddapan,
                dapan,
            },
        }).done(function (ketqua) {
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                bootbox.alert("Thay đổi thành công");
                LayDanhSachDapAn(idcauhoi);
                return;
            }
            alert(ketqua.Message);
        });
        //alert(dapan);
    }

    function SaveDapAnDung(iddapan,idcauhoi) {

        var _checkbox = $("#tn-" + iddapan);
        var dapandung = _checkbox.is(":checked");
        $.ajax({
            url: '/Ajax/PostTracNghiemDapAnDung',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                iddapan,
                dapandung,
                idcauhoi
            },
        }).done(function (ketqua) {
            //ketqua = $.parseJSON(ketqua);
            if (ketqua.Success) {
                $.notify("Thay đổi thành công !", "success");
                LayDanhSachDapAn(idcauhoi);
                return;
            }
            $.notify(ketqua.Message, "error");
            LayDanhSachDapAn(idcauhoi);
        });
    }

    function XoaTracNghiemDapAn(iddapan) {
        var dialog = bootbox.dialog({
            title: 'Thông báo xóa',
            message: "<p>Bạn có muốn xóa nội dung này hay không?</p>",
            size: 'large',
            closeButton: false,
            buttons: {
                ok: {
                    label: "Có",
                    className: 'btn-info',
                    callback: function () {
                        $.ajax({
                            url: '/Ajax/XoaTracNghiemDapAn/' + iddapan,
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                iddapan
                            },
                        }).done(function (ketqua) {
                            if (ketqua.Success) {
                                bootbox.alert("Xóa thành công");
                                LayDanhSachDapAn(idcauhoi);
                                return;
                            }
                            alert(ketqua.Message);
                        });
                    }
                },
                cancel: {
                    label: "Không",
                    className: 'btn-danger',
                }
            }
        });

    }
</script>